<footer class="footer bg-dark py-2 mt-auto">
  <div class="container">
    <p class="text-muted text-center">
      &copy; NaijaRestaurants
      <script type="text/javascript">
        const year = new Date();
        document.write(year.getFullYear());
      </script>
    </p>
  </div>
</footer>
